.tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 8px;
    cursor: pointer;
    width: 130px;
    color: #333;
    border-radius: 7px;
    margin: 10px 0px 0px 10px;
    font-size: 14px;
    background-color: #f0f0f0;
}

.tab:hover {
    background-color: #bebebe;
}

.tab.active {
    background-color: #dfdfdf;
}

.close {
    text-align: center;
    margin-left: 10px; 
    /* width: 15px;
    height: 15px; */
    background-color: #7f7f7f;
    color: #f0f0f0;
    font-weight: 500;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 0px 3.5px 1px 3.5px;
}
